<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= project.total_amount %>
  </p>

  <p>
    <strong>Left amount:</strong>
    <%= project.left_amount %>
  </p>

  <p>
    <strong>Submission date:</strong>
    <%= project.submission_date %>
  </p>

  <p>
    <strong>Final date:</strong>
    <%= project.final_date %>
  </p>

</div>
